---
interface Props {
    bg?: string;
}

const { bg = "feffff" } = Astro.props;

const textColor = "222939";
const titleColor = "0f1219";
const titleHover = "2337ff";
const linkColor = "2337ff";

const baseUrl = `https://acceptable.a-ads.com/2405487?size=Adaptive`;
const url = new URL(baseUrl);
const settings = {
    background_color: bg,
    text_color: textColor,
    title_color: titleColor,
    title_hover_color: titleHover,
    link_color: linkColor,
};
for (const [key, value] of Object.entries(settings)) {
  url.searchParams.set(key, value);
}

---

<div>
    <iframe
        data-aa="2405487"
        src={url.href}
        style="border:0px; padding:0; width:100%; height:100%; overflow:hidden; background-color: transparent;"
    ></iframe>
</div>
